[Unit]
Description=Mine ETH

[Service]
Environment=GPU_FORCE_64BIT_PTR=0
Environment=GPU_MAX_HEAP_SIZE=100
Environment=GPU_USE_SYNC_OBJECTS=1
Environment=GPU_MAX_ALLOC_PERCENT=100
Environment=GPU_SINGLE_ALLOC_PERCENT=100

Environment=DISPLAY=:0

WorkingDirectory=/opt/ethminer
#ExecStart=/opt/ethminer/bin/ethminer --farm-recheck 200 -U -S {{ etc_pool }}:{{ etc_port }} -O {{ etc_user }}.{{ ansible_hostname }}
ExecStart=/opt/claymore.dual/ethdcrminer64 -epool {{ etc_pool }}:{{ etc_port }} -ewal {{ etc_user }}.{{ ansible_hostname }} -mode 1 -dbg -1

Restart=always

[Install]
WantedBy=multi-user.target
